@font-face{
	font-family: "caviar";
	src: url("../../../fonts/CaviarDreams.ttf");
}

@font-face{
	font-family: "generica";
	src: url("../../../fonts/Generica.otf");
}

@font-face{
	font-family: "genericaBold";
	src: url("../../../fonts/GenericaBold.otf");
}



body{
	font-family: "caviar";
	background-color: white;
}


/*le logo*/

.logo{
	width: 100%;
	padding: 1%;
	border-bottom: 1px rgb(210, 210, 210) solid;
}

.logo img{
	width: 90px;
	margin-left: 1%;
}

.refresh{
	margin-top: 2%;
	border: 2px #43609C solid;
	color: black;
	padding: 1.5%;
}

.refresh i{color: #43609C;}

.refresh span{
	font-size: 2em;
}

.code{
	background: url("../img/matrix.png") center fixed no-repeat;
	height: 100%;
	display: none;
}

.code span{font-size: 6em; color: #28c223; text-shadow: 0 0 1px #28c223; display: none; }
.code .second{display: none;}
.code i{font-size: 8em; color: #28c223; text-shadow: 0 0 1px #28c223; display: none;}

.btn-join{
	display: none;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 1%;
	font-size: 3em;
	background-color: black;
	color: #28c223;
	border: 4px #28c223 solid;
}

.btn-join:hover{
	background-color: #28c223;
	color: white;
	border: 4px #28c223 solid;
	transition: 0.6s;
}

.phone{
	margin-top: 8%;
	width: 40%;
	position: absolute;
	float: left;
}

.timer input{
	font-size: 5em;
	color: #ff0000;
	border: 0px;
	text-shadow: 0 0 1px white;
	text-align: center;
	background-color: rgba(0,0,0,0);
}

.timer input:hover{
	cursor: progress;
}

.timer{
	margin-top: 20%;
	margin-left: 60%;
}

.inscription{
	font-family: "caviar";
	float: right;
}

.inscription h1{
	font-size: 2.6em;
	color: #5AAFED;
	text-decoration: underline;
}

.inscription h3{
	margin-bottom: 10%;
}

.inscription input{
	padding: 2%;
	font-size: 1.4em;
	border: 2px #5AAFED solid;
	border-radius: 5px 0px 5px 5px;
}

.main{
	margin-top: 5%;
	font-size: 3.5em;
	font-family: "caviar";
}

.inscription .btn-send{
	margin: 0;
	font-size: 1.4em;
	padding: 2%;
	background-color: #5AAFED;
	color: white;
	border: 2px #5AAFED solid;
	border-radius: 0px 5px 5px 0px;
}

.inscription .btn-send:hover{
	transition: 0.6s;
	background-color: white;
	border: 2px #5AAFED solid;
	color: #5AAFED;
}

.bulle-1{
	font-family: "Montserrat";
	border: 3px #5AAFED solid;
	color: white;
	position: absolute;
	z-index: 2;
	margin-top: 23%;
	margin-left: 13%;
	padding: 1%;
	border-radius: 5px;
	background-color: #5AAFED;
	display: none
}

.bulle-2{
	font-family: "Montserrat";
	height: auto;
	border: 3px #5AAFED solid;
	color: white;
	position: absolute;
	z-index: 2;
	margin-left: 27%;
	margin-top: 30.5%;
	padding: 1%;
	border-radius: 5px;
	background-color: #5AAFED;
	display: none;
}

.bulle-3{
	font-family: "Montserrat";
	height: auto;
	border: 3px #FF0000 solid;
	color: white;
	position: absolute;
	z-index: 2;
	margin-left: 16%;
	margin-top: 40%;
	padding: 1%;
	border-radius: 5px;
	background-color: #FF0000;
	display: none;
}

.position{
	margin-top: 5%;
	color: black;
	font-family: "caviar";
}

.position h5{
	background-color: #5AAFED;
	color: white;
	padding: 1%;
	border-radius: 50px;
}

.position h5 a{
	color: white;
}

.position p{
	color: black;
	margin-top: 5%;
}

.spot{
	margin-bottom: 5%;
	color: #28c223;
}

.behind{
	color: #ff0000;
}

.fa-user{
	font-size: 10em;
	color: #5AAFED;
}

/*FB : #43609C;*/